.container {
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: row;
  border: 1px solid violet;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.item {
  box-sizing: border-box;
  width: 80px;
  height: 25px;
  text-decoration: underline;
}
