* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid purple;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 10px;
  background-color: lightgrey;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 80%;
  flex-grow: 1;
  background-color: grey;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex-basis: 5%;
  background-color: orange;
}
