* {
  box-sizing: border-box;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 40px;
}

.pdf-logo {
  background-color: red;
  border-radius: 15%;
  color: white;
  padding: 2px;
  position: relative;
  left: 0;
}

.pdf-download {
  position: relative;
  left: 200px;
  color: lightgray;
}
