.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: antiquewhite;
}

.item {
  box-sizing: border-box;
  width: 500px;
  height: 20px;
  border: 1px solid blue;
  background-color: pink;
}
