* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 500px;
  height: 700px;
  border: 1px solid purple;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 10%;
  background-color: lightgrey;
}

.main {
}
