@import 'vars';

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.profile-container {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  width: 300px;
  margin: auto;
  text-align: center;
}
.img-profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
}
.info-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  background-color: white;
  margin: auto;
}

.App {
  background-color: grey;
  padding: 20px 0 20px 0;
  width: 400px;
  margin: auto;
}
p {
  margin: 0px;
}

.more {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.fa-heart {
  color: red;
}
