.container {
  background-color: red;
}

@media all and (min-width: 480px) {
  .container {
    background-color: yellow;
  }
}

@media all and (min-width: 768px) {
  .container {
    background-color: green;
  }
}
