.header,
.main,
.footer {
  border: 1px solid red;
}

* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2")
      format("woff2"),
    url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff2")
      format("woff2"),
    url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

:root {
  /*COLORS*/
  --primary-color: black;
  --secondary-color: #4bb84a;
  --light-color: white;
  --terciary-color: #0691ff;
  /*FONTS*/
  --primary-fonts: Circular, Arial, Helvetica, sans-serif;
}

html {
  font-family: var(--primary-color);
  font-size: 16px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  border: 1px solid green;
  padding: 15px;
}

/*HEADER*/
.header {
  background-color: var(--primary-color);
}

.header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-block;
  width: 115px;
  border: 1px solid red;
}

.header-logo img {
  width: 100%;
}

.header-mobile-button {
  display: block;
  background-image: url("../images/menu-icon.png");
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.header-menu {
  list-style: none;
  padding: 0px;
  color: var(--light-color);
  display: none;
}

.header-menu li {
  display: inline-block;
}
.header-menu li a {
  padding: 15px;
  font-weight: bold;
}

.header-menu li:nth-child(3):after {
  content: "|";
}

/* HERO */

.hero {
  background-color: var(--terciary-color);
  color: var(--light-color);
}

.hero .wrapper {
  height: 50vh;
}

/* OPTIONS */

.options {
  text-align: center;
}

.options-items {
  display: flex;
  flex-direction: column;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.option-image img {
  width: 100%;
  max-width: 180px;
}

.option-image {
  flex-shrink: 0;
}

@media all and (min-width: 768px) {
  .header-menu {
    display: block;
  }

  .header-mobile-button {
    display: none;
  }

  .hero .wrapper {
    background: url("../images/premium_dancer.png") no-repeat;
    background-position: right top;
  }

  .option {
    width: 50%;
  }

  .options-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media all and (min-width: 1200px) {
  .option {
    width: 25%;
    flex-direction: column;
  }

  .options-items {
    text-align: center;
  }
}
